/**
 * Dramatic motion preset
 */

:root {
  --fm-transition: calc(320ms * var(--fm-enable-animations)) cubic-bezier(0.16, 1, 0.3, 1);
  --fm-motion-fast: calc(0.28s * var(--fm-enable-animations));
  --fm-motion-mid: calc(0.46s * var(--fm-enable-animations));
}
